In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("../data/raw/1310076501_databaseLoadingData.csv")

In [5]:
data_col_clean = data.drop(['REF_DATE', "GEO", "DGUID", "UOM_ID", "SCALAR_FACTOR", "SCALAR_ID", "VECTOR", "COORDINATE", "STATUS", "SYMBOL", 'TERMINATED', 'DECIMALS'], axis=1)
#deleted multiple columns

In [6]:
data_col_clean

,Age group,Sex,Domains,Characteristics,UOM,VALUE
0,"Total, 5 to 17 years",Both sexes,Seeing,Number of persons,Number,27100.00
1,"Total, 5 to 17 years",Both sexes,Seeing,Percent,Percent,0.54
2,"Total, 5 to 17 years",Both sexes,Hearing,Number of persons,Number,8500.00
3,"Total, 5 to 17 years",Both sexes,Hearing,Percent,Percent,0.17
4,"Total, 5 to 17 years",Both sexes,Walking,Number of persons,Number,47000.00
...,...,...,...,...,...,...
247,12 to 17 years,Females,Anxiety,Percent,Percent,7.20
248,12 to 17 years,Females,Depression,Number of persons,Number,22100.00
249,12 to 17 years,Females,Depression,Percent,Percent,1.98
250,12 to 17 years,Females,Functional difficulties in at least one domain,Number of persons,Number,141900.00
251,12 to 17 years,Females,Functional difficulties in at least one domain,Percent,Percent,12.80

In [7]:
data_col_clean['Age group'].value_counts() #shows 3 categories, 84 total --consider removing rows of totals

Total, 5 to 17 years    84
5 to 11 years           84
12 to 17 years          84
Name: Age group, dtype: int64

In [8]:
sorted(list(data.columns))

['Age group',
 'COORDINATE',
 'Characteristics',
 'DECIMALS',
 'DGUID',
 'Domains',
 'GEO',
 'REF_DATE',
 'SCALAR_FACTOR',
 'SCALAR_ID',
 'STATUS',
 'SYMBOL',
 'Sex',
 'TERMINATED',
 'UOM',
 'UOM_ID',
 'VALUE',
 'VECTOR']

In [9]:
# n_by_state = df.groupby("state")["last_name"].count()
# n_by_state.head(10)

In [10]:
data_col_clean.shape

(252, 6)

In [11]:
data_col_clean.describe()

              VALUE
count     250.00000
mean    31828.61300
std     70459.52072
min         0.12000
25%         1.76250
50%      1450.00000
75%     32150.00000
max    657100.00000

In [12]:
data.dtypes

REF_DATE             int64
GEO                 object
DGUID               object
Age group           object
Sex                 object
Domains             object
Characteristics     object
UOM                 object
UOM_ID               int64
SCALAR_FACTOR       object
SCALAR_ID            int64
VECTOR              object
COORDINATE          object
VALUE              float64
STATUS              object
SYMBOL             float64
TERMINATED         float64
DECIMALS             int64
dtype: object

In [13]:
data_col_clean.groupby('Domains').count() #suggested by prof to try out
#can see

,Age group,Sex,Characteristics,UOM,VALUE
Domains,,,,,
Accepting change,18,18,18,18,18
Anxiety,18,18,18,18,18
Communication,18,18,18,18,18
Concentrating,18,18,18,18,18
Controlling behaviour,18,18,18,18,18
Depression,18,18,18,18,18
Functional difficulties in at least one domain,18,18,18,18,18
Hearing,18,18,18,18,16
Learning,18,18,18,18,18
Making friends,18,18,18,18,18
Remembering,18,18,18,18,18
Seeing,18,18,18,18,18
Self-care,18,18,18,18,18
Walking,18,18,18,18,18

In [19]:
df1 = data_col_clean[data_col_clean['Characteristics']=='Number of persons']

,Age group,Sex,Domains,Characteristics,UOM,VALUE
0,"Total, 5 to 17 years",Both sexes,Seeing,Number of persons,Number,27100.0
2,"Total, 5 to 17 years",Both sexes,Hearing,Number of persons,Number,8500.0
4,"Total, 5 to 17 years",Both sexes,Walking,Number of persons,Number,47000.0
6,"Total, 5 to 17 years",Both sexes,Self-care,Number of persons,Number,30100.0
8,"Total, 5 to 17 years",Both sexes,Communication,Number of persons,Number,52000.0
...,...,...,...,...,...,...
242,12 to 17 years,Females,Controlling behaviour,Number of persons,Number,17700.0
244,12 to 17 years,Females,Making friends,Number of persons,Number,40800.0
246,12 to 17 years,Females,Anxiety,Number of persons,Number,79900.0
248,12 to 17 years,Females,Depression,Number of persons,Number,22100.0
250,12 to 17 years,Females,Functional difficulties in at least one domain,Number of persons,Number,141900.0

In [21]:
df2 = data_col_clean[data_col_clean['Characteristics']=='Percent']
df2

,Age group,Sex,Domains,Characteristics,UOM,VALUE
1,"Total, 5 to 17 years",Both sexes,Seeing,Percent,Percent,0.54
3,"Total, 5 to 17 years",Both sexes,Hearing,Percent,Percent,0.17
5,"Total, 5 to 17 years",Both sexes,Walking,Percent,Percent,0.93
7,"Total, 5 to 17 years",Both sexes,Self-care,Percent,Percent,0.60
9,"Total, 5 to 17 years",Both sexes,Communication,Percent,Percent,1.03
...,...,...,...,...,...,...
243,12 to 17 years,Females,Controlling behaviour,Percent,Percent,1.59
245,12 to 17 years,Females,Making friends,Percent,Percent,3.70
247,12 to 17 years,Females,Anxiety,Percent,Percent,7.20
249,12 to 17 years,Females,Depression,Percent,Percent,1.98
251,12 to 17 years,Females,Functional difficulties in at least one domain,Percent,Percent,12.80

In [15]:
data_col_clean.pivot(columns=['Age group','Sex','Domains','Characteristics'],values=['UOM','VALUE'])

                                 UOM                                      \
Age group       Total, 5 to 17 years
Sex                       Both sexes
Domains                       Seeing                    Hearing
Characteristics    Number of persons  Percent Number of persons  Percent
0                             Number      NaN               NaN      NaN
1                                NaN  Percent               NaN      NaN
2                                NaN      NaN            Number      NaN
3                                NaN      NaN               NaN  Percent
4                                NaN      NaN               NaN      NaN
..                               ...      ...               ...      ...
247                              NaN      NaN               NaN      NaN
248                              NaN      NaN               NaN      NaN
249                              NaN      NaN               NaN      NaN
250                              NaN      NaN               NaN      NaN
251                              NaN      NaN               NaN      NaN

                                                                     \
Age group
Sex
Domains                   Walking                 Self-care
Characteristics Number of persons Percent Number of persons Percent
0                             NaN     NaN               NaN     NaN
1                             NaN     NaN               NaN     NaN
2                             NaN     NaN               NaN     NaN
3                             NaN     NaN               NaN     NaN
4                          Number     NaN               NaN     NaN
..                            ...     ...               ...     ...
247                           NaN     NaN               NaN     NaN
248                           NaN     NaN               NaN     NaN
249                           NaN     NaN               NaN     NaN
250                           NaN     NaN               NaN     NaN
251                           NaN     NaN               NaN     NaN

                                           ...                 VALUE          \
Age group                                  ...        12 to 17 years
Sex                                        ...               Females
Domains             Communication          ... Controlling behaviour
Characteristics Number of persons Percent  ...     Number of persons Percent
0                             NaN     NaN  ...                   NaN     NaN
1                             NaN     NaN  ...                   NaN     NaN
2                             NaN     NaN  ...                   NaN     NaN
3                             NaN     NaN  ...                   NaN     NaN
4                             NaN     NaN  ...                   NaN     NaN
..                            ...     ...  ...                   ...     ...
247                           NaN     NaN  ...                   NaN     NaN
248                           NaN     NaN  ...                   NaN     NaN
249                           NaN     NaN  ...                   NaN     NaN
250                           NaN     NaN  ...                   NaN     NaN
251                           NaN     NaN  ...                   NaN     NaN

                                                                     \
Age group
Sex
Domains            Making friends                   Anxiety
Characteristics Number of persons Percent Number of persons Percent
0                             NaN     NaN               NaN     NaN
1                             NaN     NaN               NaN     NaN
2                             NaN     NaN               NaN     NaN
3                             NaN     NaN               NaN     NaN
4                             NaN     NaN               NaN     NaN
..                            ...     ...               ...     ...
247                           NaN     NaN               NaN     7.2
248                           NaN     NaN               NaN     NaN
249                           NaN     NaN               NaN     NaN
250                           NaN     NaN               NaN     NaN
251                           NaN     NaN               NaN     NaN

                                           \
Age group
Sex
Domains                Depression
Characteristics Number of persons Percent
0                             NaN     NaN
1                             NaN     NaN
2                             NaN     NaN
3                             NaN     NaN
4                             NaN     NaN
..                            ...     ...
247                           NaN     NaN
248                       22100.0     NaN
249                           NaN    1.98
250                           NaN     NaN
251                           NaN     NaN


Age group
Sex
Domains         Functional difficulties in at least one domain
Characteristics                              Number of persons Percent
0                                                          NaN     NaN
1                                                          NaN     NaN
2                                                          NaN     NaN
3                                                          NaN     NaN
4                                                          NaN     NaN
..                                                         ...     ...
247                                                        NaN     NaN
248                                                        NaN     NaN
249                                                        NaN     NaN
250                                                   141900.0     NaN
251                                                        NaN    12.8

[252 rows x 504 columns]

In [16]:
df_pivoted = data_col_clean.pivot(columns = ["UOM"], values = 'VALUE')
df_pivoted

UOM    Number  Percent
0     27100.0      NaN
1         NaN     0.54
2      8500.0      NaN
3         NaN     0.17
4     47000.0      NaN
..        ...      ...
247       NaN     7.20
248   22100.0      NaN
249       NaN     1.98
250  141900.0      NaN
251       NaN    12.80

[252 rows x 2 columns]

In [17]:
data_col_clean.melt(id_vars=[], value_vars = '', var_name='', value_name='')

0    VALUE  VALUE
1    VALUE  VALUE
2    VALUE  VALUE
3    VALUE  VALUE
4    VALUE  VALUE
..     ...    ...
247  VALUE  VALUE
248  VALUE  VALUE
249  VALUE  VALUE
250  VALUE  VALUE
251  VALUE  VALUE

[252 rows x 2 columns]